<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="movieSearcher">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Torrey's Movie Searcher</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <style type="text/css"></style>
</head>

<body ng-controller="SearchController">

    <!-- Title -->
    <div class="row">
        <div class="small-12 columns">
            <h1>Torrey's Movie Search Engine</h1>
        </div>
    </div>

    <!-- Seach again -->
    <div ng-show="movieReturned" class="row">
        <div class="small-12 columns">
            <button class="button small radius" ng-click="reset()">Search Again</button>
        </div>
    </div>
    
    <!-- Search bar -->
    <div ng-hide="movieReturned" class="row">
        <form name="searchForm">
            <div class="small-2 medium-1 columns">
                <label for="right-label" class="right inline">Movie: </label>
            </div>

            <div class="small-7 columns">
                <input ng-model="query" type="text" placeholder="Type in a search term" />
            </div>

            <div class="small-3 columns">
                <button class="button tiny radius" ng-click="runSearch()">Search</button>
            </div>
            <div class="medium-4 columns"></div>
        </form>
    </div>

    <div ng-show="data" class="row">
        <div class="small-12 columns">
            Click on a movie title below to get more info
        </div>
    </div>

    <!-- main content - repeat for each movie result -->
    <div class="row" ng-repeat="results in data">
        <div class="small-12 columns">
            <h3><a href="#" ng-click="findMovie(results.Title)">{{ results.Title }}</a></h3>
        </div>
    </div>
    
    <!-- show if no search result -->
    <div class="row" ng-show="notFound">
        <div class="small-12 columns">
            <h3>Sorry, no results found.</h3>
        </div>
    </div>

    <!-- movie result plot summary - show only when a movie is selected -->
    <div class="row" ng-show="movieReturned">
        <div class="small-12 columns">

            <ul class="tabs" data-tab role="tablist">
                <li class="tab-title active" role="presentational"><a href="#panel1" role="tab" tabindex="0" ng-model="panel1" aria-selected="true" controls="panel1">Plot</a>
                </li>
                <li class="tab-title" role="presentational"><a href="#panel2" role="tab" tabindex="0" ng-model="panel2" aria-selected="false" controls="panel2">Details</a>
                </li>
            </ul>
            <div class="tabs-content">
                <section role="tabpanel" aria-hidden="false" class="content active" id="panel1">
                    <h2>{{ movieReturned.Title }}</h2>
                    <blockquote>{{ movieReturned.Plot }}</blockquote>
                </section>
                <section role="tabpanel" aria-hidden="true" class="content" id="panel2">
                    <h2>{{ movieReturned.Title }}</h2>
                    <ul>
                        <li><strong>Year</strong>: {{ movieReturned.Year }}</li>
                        <li><strong>Rated</strong>: {{ movieReturned.Rated }}</li>
                        <li><strong>Released</strong>: {{ movieReturned.Released }}</li>
                        <li><strong>Runtime</strong>: {{ movieReturned.Runtime }}</li>
                        <li><strong>Genre</strong>: {{ movieReturned.Genre }}</li>
                        <li><strong>Director</strong>: {{ movieReturned.Director }}</li>
                        <li><strong>Writer(s)</strong>: {{ movieReturned.Writer }}</li>
                        <li><strong>Actors</strong>: {{ movieReturned.Actors }}</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>